nav ul {
  margin-top: 60px;
  padding-left: 0px;
  list-style: none;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  nav ul li {
    padding-left: 45px;
    box-sizing: border-box; }
    ul li:first-child {
      padding-left: 0px; }
    nav ul li a {
      position: relative;
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 21px;
      font-family: Open_Light; }
      nav ul li a:after {
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #000;
        content: "";
        transition: width 0.3s ease-out;
        /*https://toster.ru/q/458850 */ }
      nav ul li a:hover:after, ul li a:focus:after {
        width: 100%;
        /*https://toster.ru/q/458850 */ }
